*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: purple;
    font-family: "Lato", system-ui;
    overflow: hidden;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* START QUIZ STYLES */

.start_quiz_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.start_quiz_btn button{
    padding: 15px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    border: 1.5px solid orange;
    border-radius: 10px;
    color: white;
    font-size: 12px;
    font-weight: 600;
    transition: all .3s ease-in-out;
}

.start_quiz_btn button:hover{
    transform: scale(.25rem);
    background: white;
    color: purple;
}

/* QUIZ RULES STYLES */

.quiz_rules{
    background: white;
    width: 400px;
    max-width: 100%;
    margin: 0 auto;
    border-radius: 10px;
    line-height: 2rem;
    font-size: 14px;
    display: none;
    color: purple;
}

.quiz_rules h3{
    border-bottom: 1px solid black;
    padding-left: 20px;
    padding-top: 5px;
    font-weight: 700;
}

.quiz_rules .rules p{
    margin: 10px 10px 10px 30px;
    font-weight: 600
}

.quiz_rules .rules_btn{
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    margin-right: 10px;
    padding-bottom: 10px;
}

.rules_btn button{
    padding: 12px;
    border-radius: 5px;
    border: 1px solid purple;
    outline: none;
    font-size: 11px;
    font-weight: 600;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.rules_btn .btn-2{
    background: white;
    color: purple;
}

.rules_btn .btn-2:hover{
    background: white;
    color: purple;
}

.rules_btn .btn-1{
    background: purple;
    border: 1.5px solid purple;
}

.rules_btn .btn-1:hover{
    background: white;
    color: purple;
}

/* QUESTIONS SECTION */

.question_section{
    background: white;
    width: 400px;
    max-width: 100%;
    margin: 0 auto;
    line-height: 2rem;
    border-radius: 4px;
    display: none;
    color: purple;
}

.head{
    display: flex;
    gap: 60px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.527);
    padding-top: 10px;
    padding-bottom: 7px;
}

.head_name h2{
    font-size: 20px;
    font-size: 700;
    padding-left: 20px;
}

.time_count {
    background: white;
    padding: 2px 10px 2px 10px;
    border-radius: 3px;
    font-weight: 600;
    display: flex;
    gap: 10px;
    purple 
}

.time_count .timer{
    background: purple;
    color: white;
    padding: 0px 9px;
    border-radius: 3px;
    margin-top: -2px;
    margin-bottom: -2px;
    margin-right: -10px;

}

.Q1{
    padding-left: 20px;
    padding-bottom: 15px;
}

.q1_text h2{
    font-size: 17px;
}

.options_menu .options{
    background: rgba(111, 88, 4, 0.895);
    display: flex;
    margin-top: 5px;
    color: white;
    padding: 5px 0px 5px 12px;
    width: 95%;
    border: 1.5px solid rgb(75, 51, 1) ;
    cursor: pointer;
}

.options_menu .options.correct{
    background: green;
    border-color: brown;

}

.options_menu .options.incorrect{
    background: red;
    border-color: black;

}

.options_menu .options.disabled{
    pointer-events: none;
}

.head_down{
    display: flex;
    justify-content: space-between;
}

.head_down .q_count span{
    display: flex;
    gap: 8px;
    font-weight: 600;
    position: relative;
    left: 20px;
}

.head_down .next_btn .nxt_btn{
    position: relative;
    right: 20px;
    padding: 7px 9px ;
    font-size: 13px;
    border: none;
    background-color: black;
    color: white;
    font-weight: 600;
    cursor: pointer;
    border-radius: 2px;
    transition: all .3s ease;
    margin-bottom: 6px;
}

.head_down .next_btn button:hover{
    background: rgba(0, 0, 0, 0.838);
}

.result_box{
    background: white;
    width: 300px;
    padding: 50px 0px;
    border-radius: 4px;
    display: none;
    color: purple;
}

.complete p{
    text-align: center;
    font-weight: 600;
}

.end_btn{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.quit button{
    padding: 5px 7px ;
    font-size: 12px;
    border: none;
    background-color: purple;
    color: white;
    font-weight: 600;
    cursor: pointer;
    border-radius: 2px;
    transition: all .3s ease;
}

.replay button{
    padding: 5px 7px ;
    font-size: 12px;
    border: none;
    color: white;
    font-weight: 600;
    cursor: pointer;
    border-radius: 2px;
    transition: all .3s ease;
    background: purple;
    border: 1.5px solid purple;
}

.replay button:hover{
    background: white;
    color: purple;
}

.quit button:hover{
    background: white;
    color: purple;
}

@media only screen and (max-width:768px){
    body{
        overflow: hidden;
    }
    .question_section{
        margin-left: 10px;
        margin-right: 10px;        
    }
    .head_name h2{
        font-size: 20px;
    }
    .time_count p{
        font-size: 12px;
    }
    .quiz_rules .rules p{
        font-size: 10px;
    }
    .quiz_rules{
        margin-left: 10px;
        margin-right: 10px;        
    }
        
}
